%p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

* {
  box-sizing: border-box;
}

%div{
  display: block;
}

.header-message{
  width: 100%;
  text-align: center;
  color: $white;
  background-color: #38aef0;
  height:20px;
  z-index: 1;
  position: fixed;
}
